
.movie-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid yellow;
    scale: 0.9;
}

.movie-container img:hover{
    scale: 1;
    transition: all ease 0.8s;
}